// demo column styles
.demo .col {
  background-color: $light-gray-01;
  border: .1rem solid $light-gray-03;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .demo .col {
    margin-bottom: $column-bottom-margin-mobile;
  }
}
