// home page styles
.hero--sub {
  @include hero-bg-img('../images/hero.jpg');
  padding-top: 4em;
  padding-bottom: 5em;
  h1 {
    text-transform: uppercase;
    color: #fff;
  }
}
// mobile
@media screen and (max-width: 500px) {
  .hero--sub {
    padding-top: 3em;
    padding-bottom: 4em;
    h1 {
      font-size: 3rem;
    }
  }
}