.hero {
  width: 100%;
  height: auto;
}
.hero {
  padding-top: 6em;
  padding-bottom: 9em;
  background-color: $light-gray;
  //min-height: 400px;
}
// use to control width inside hero component
.hero-inner {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-inner {
    max-width: 80%;
  }
}