@mixin list-nostyle {
  padding-left: 0;
  list-style: none;
  li {
    list-style-type: none;
  }
}
.list-unstyled {
  @include list-nostyle;
}
@mixin list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.list-inline {
  @include list-inline;
}