html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $sans;
  color: $copy-color;
  background-color: $page-bg-color;
}

// headings, other
h1, h2, h3, h4, h5, h6,
th,
//th a,
legend {
  color: $heading-color;
}

// links, buttons
a,
a:link,
a:active,
a:visited {
  color: $link-color;
}
a:hover,
a:focus {
  color: $link-hover;
}
a,
.btn,
.btn {
  transition: all .2s ease;
}

// https://github.com/h5bp/html5-boilerplate/blob/6.1.0/src/css/main.css
/*
 * Remove text-shadow in selection highlight: HTML5 Boilerplate
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: $light-gray-01;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid $light-gray-03;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles (and Normalize padding).
 */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}