label {
  display: block;
}
input,
select,
textarea {
  margin-bottom: 1em;
  padding: .4em;
  width: 100%;
}
.radio input,
.checkbox input,
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  float: left;
  margin: .4em;
}
.radio,
.checkbox {
  clear: both;
}
.radio label,
.checkbox label {
  float: left;
  margin-bottom: .5em;
}
.radio p,
.checkbox p {
  margin-bottom: .5em;
}
input.btn,
input.button,
input[type="submit"] {
  display: inline-block;
  clear: both;
  width: auto;
  margin: 1em 0;
  padding: .6em 1.5em;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .03em;
  color: $btn-txt-color;
  background-color: $btn-bg-color;
  border: solid .2rem $btn-bg-color;
  transition: all 0.1s ease;
  &:hover,
  &:focus {
    background-color: lighten($btn-bg-color, 5%);
    border-color: lighten($btn-bg-color, 5%);
  }
}
label.hidden {
  margin-left: -10000em;
  width: 0;
  float: none;
}

// form color
input,
select,
textarea {
  border: .1rem solid $form-input-outline-color;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active,
select:hover,
select:focus,
select:active {
  border-color: $form-input-outline-hover;
}

.req,
.required {
  color: red;
}
