label {
  display: block;
}
input,
select,
textarea {
  margin-bottom: 1em;
  padding: .4em;
  width: 100%;
}
.radio input,
.checkbox input,
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  float: left;
  margin: .4em;
}
.radio,
.checkbox {
  clear: both;
}
.radio label,
.checkbox label {
  float: left;
  margin-bottom: .5em;
}
.radio p,
.checkbox p {
  margin-bottom: .5em;
}
input.btn,
input.button,
input[type="submit"] {
  margin: 1em 0;
  padding: .4em;
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
  background-color: #eaeaea;
  transition: all 0.1s ease;
  width: 15em;
}
label.hidden {
  margin-left: -10000em;
  width: 0;
  float: none;
}

// form color
input,
select,
textarea {
  border: 0.1em solid #dadada;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active,
select:hover,
select:focus,
select:active {
  border-color: #999;
}

input.btn:hover,
input.btn:focus,
input.button:hover,
input.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.req,
.required {
  color: red;
}
