// presentational classes
.bg-primary {
  background-color: $bg-primary;
}
.bg-alt {
  background-color: $bg-alt;
}
.bg-highlight {
  background-color: $bg-highlight;
}

//.padding-2 {
//  padding: 2rem !important;
//}
