// various colors
$magenta: magenta;
$yellow: yellow;
$lime: lime;
$lime-green: #32cd32;
$forest-green: #228b22;
$medium-blue: #0000cd;
$navy: #000080;
$extra-light-gray: #eaeaea;
$light-gray: #d3d3d3;
$silver: #c0c0c0;
$medium-gray: #666666;
$dark-gray: #2e2e2e;
$extra-dark-gray: #1e1e1e;

// theme colors
// ...

// functional color names
$accent: $lime-green;
$link-color: $medium-blue;
$link-hover: lighten($link-color, 15%);
$copy-color: $dark-gray;
$heading-color: $dark-gray;
$page-bg-color: $extra-light-gray;
$header-bg-color: #fff;
$footer-bg-color: #fff;
$footer-txt-color: $copy-color;
$main-nav-color: $dark-gray;
$main-nav-hover: lighten($main-nav-color, 10%);
$cta-txt-color: #fff;
$cta-bg-color: $dark-gray;
$cta-inverse-txt-color: $dark-gray;
$cta-inverse-border-color: $dark-gray;
$fw-primary-bg: #fff;
$fw-alt-bg: $light-gray;
$fw-highlight-bg: $accent;

// font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700');
//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700');
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700');
//@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400italic,600,700');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
//@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700');
//@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-default: Georgia, serif;

$sans-custom: "Open Sans";
//$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
//$serif: $serif-custom, $serif-default;

$max-container-width: 1200px;

// old font stacks
// "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
// "Lucida Grande", Lucida, Verdana, sans-serif;
// "Times New Roman", Times, serif;
// Georgia, serif;
// "Courier New", Courier, monospace;
// "Lucida Console", Monaco, monospace;