// shades of gray (.gray-10 = 10% gray, etc.)
$gray-10: lighten(black,90%);
$gray-20: lighten(black,80%);
$gray-30: lighten(black,70%);
$gray-40: lighten(black,60%);
$gray-50: lighten(black,50%);
$gray-60: lighten(black,40%);
$gray-70: lighten(black,30%);
$gray-80: lighten(black,20%);
$gray-90: lighten(black,10%);

// various colors
$magenta: magenta;
$yellow: yellow;
$lime: lime;
$navy: #000080;
$light-gray-01: #eaeaea;
$light-gray-02: #d3d3d3;
$light-gray-03: #cccccc;
$light-gray-04: #c0c0c0;
$medium-gray-01: #666666;
$medium-gray-02: #333333;
$dark-gray-01: #2e2e2e;
$dark-gray-02: #1e1e1e;
// etc.

// theme colors
$lime-green: #32cd32;
$forest-green: #228b22;
$medium-blue: #0000cd;
// etc.

// functional color names
$accent: $lime-green;
$link-color: $medium-blue;
$link-hover: lighten($link-color, 15%);
$skiplink-bg: #fff;

$copy-color: $dark-gray-01;
$heading-color: $dark-gray-01;
$footer-txt-color: $copy-color;

$page-bg-color: $light-gray-01;
$header-bg-color: #fff;
$footer-bg-color: #fff;
$table-head-bg-color: #fff;
$table-border-color: $light-gray-04;

$main-nav-color: $dark-gray-01;
$main-nav-hover: $accent;//lighten($main-nav-color, 10%);

$btn-txt-color: #fff;
$btn-bg-color: $dark-gray-01;
$btn-inverse-txt-color: $dark-gray-01;
$btn-inverse-border-color: $dark-gray-01;

$bg-primary: #fff;
$bg-alt: $light-gray-02;
$bg-highlight: $accent;

$column-padding: 1rem;
$column-bottom-margin-mobile: 1.6rem;

$max-container-width: 1200px;

// font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700');
//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700');
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700');
//@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400italic,600,700');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
//@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700');
//@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-default: Georgia, serif;

$sans-custom: "Open Sans";
//$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
//$serif: $serif-custom, $serif-default;

// old font stacks
// "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
// "Lucida Grande", Lucida, Verdana, sans-serif;
// "Times New Roman", Times, serif;
// Georgia, serif;
// "Courier New", Courier, monospace;
// "Lucida Console", Monaco, monospace;